.todo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 6.5rem;
    width: 50rem;
    background-color: #1b1b32;
    border-radius: 0.8rem;
    border: 0.1rem solid white;
    padding: 1rem 2rem;
    margin: 1rem 0;
    cursor: pointer;
}
/* Colors */

.todo-container:nth-child(3n + 1) {
    background-color: #1b1b32;
}
.todo-container:nth-child(3n + 2) {
    background-color: #2a2a40;
}
.todo-container:nth-child(3n + 3) {
    background-color: #3b3b4f;
}

.todo-text {
    width: 90%;
    font-size: 2rem;
    height: 100%;
    display: flex;
    align-items: center;
    overflow-wrap: anywhere;
}

.todo-icon {
    height: 2.5rem;
    width: 2.5rem;
    margin: 0.5rem;
}

.todo-container.todo-completed {
    background-color: #5a01a7;
    text-decoration: line-through;
}
